/*  ------------- NAV -------------  */
nav {
	ul {
		margin-left: 2%;
		border-left: 1px solid rgba(0,0,0,0.3);
	}
	ul li {
		width: auto;
	}// end li
	ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
	ul li a {
		padding: .5rem 1rem;
	} // and a
} // end nav


/*  ------------- MAIN -------------  */
main {
	margin: auto;
    
	@for $i from 1 through 12 {
		$w: ($i/12)* 100%;
		.large-#{$i} {width: $w; float: left;}
	}
    
    
    
    
    
} // end main