/*-----HEADER SOCIAL ICONS-----*/
header {
    position: relative;
    ul {
        &.social {
            position: absolute;
            bottom: .5rem;
            right: $gutter;

        }
        li {
            width: auto;
        }
    }  

} // end header

/*  ------------- MAIN -------------  */
main {

    @for $i from 1 through 12 {
        $w: ($i/12)*100%;
        .medium-#{$i} {width: $w;float: left;}
    }
    
    
    
} // end main


